/.idea/
/src/cmake-build-debug/
/.vscode/
/build/
/build-src-Desktop-Debug/
/src/CMakeLists.txt.user
/test/ui/CMakeLists.txt.user
/test/build-ui-Desktop-Debug
/cmake/build-debug-linux/
/cmake/build-debug-windows/
/cmake/build-release-linux/
/cmake/build-release-windows/
